@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&family=Nunito+Sans:wght@300&display=swap');

.about{
    display: flex;
}
.client__image{
    width: 40vw;
    margin: 2em 7em 2em 10em;
    border-radius: 12px;
}

.about__text{
    margin: 2em 0 0em 0;
    padding-right: 7em;
    text-align: left;
    color:#222;
    font-family: 'Noticia Text', serif;
}

.about__text span{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.awards__heading{
    font-family: 'Noticia Text', serif;
    padding: 2em;
    text-align: center;
}

.Award{
    display: flex;
}

.khanda{
    position: absolute;
    top: 7em;
    width: 35%;
    left: 57%;
    z-index: -1;
    opacity: 0.2;
}

@media (max-width:786px){
    .about{
        flex-direction: column;
    }

    .about__text{
        display: flex;
        margin: auto;
        padding: 0;
        padding-bottom: 2em;
        text-align: center;
        width: 80%;
    }

    .client__image{
        display: flex;
        margin: 2em auto;
        width: 80%;
    }
    .Award{
        display: flex;
        flex-direction: column;
    }
    .khanda{
        position: absolute;
        top: 70%;
        width: 80%;
        left: 10%;
        z-index: -1;
        opacity: 0.2;
    }
}