.footer{
    background-color: #162d3d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.footer__text{
    margin: 3em auto 2em auto;
    font-family: 'Noticia Text', serif;
    
}

.footer__number{
    font-size: 40px;
    font-family: 'Noticia Text', serif;
    
  
}

.footer__line{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    width: 70%;
    margin: 1em auto 2em auto;
}

.copyright{
    font-family: 'Noticia Text', serif;
    font-size: 12px;
    margin-bottom: 1em;
}

.footer__number > p{
    text-align: center;
}
@media (max-width: 786px){
    .footer__number{
        font-size:30px;
    }
    
}